.detail-box-4{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}

.about_section .detail-box-4 p {
  margin-top: 20px;
}

.about_section .detail-box-4 p span{
  color: #518EF8;
}

.about_section .detail-box-4 h2 {
  font-size: 30px;
  color: #518EF8;
  font-weight: 700;
}
.about_section .detail-box-4 h1 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;

}

@media only screen and (max-width: 480px){
  .about_section .detail-box-4 h1 {
    font-size: 24px;
    color: #FFFFFF
  }
  .about_section .detail-box-4 h2 {
    font-size: 22px;
    color: #518EF8
  }
  .about_section .detail-box-4 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px){
  .about_section .detail-box-4 h1 {
    font-size: 20px;
    color: #FFFFFF
  }
  .about_section .detail-box-4 h2 {
    font-size: 18px;
    color: #518EF8
  }

  .about_section .detail-box-4 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px){
  .about_section .detail-box-4 h1 {
    font-size: 16px;
    color: #FFFFFF;
  }
  .about_section .detail-box-4 h2 {
    font-size: 16px;
    color: #518EF8;
  }

  .about_section .detail-box-4 p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px){
  .about_section .detail-box-4 h1 {
    font-size: 14px;
    color: #FFFFFF;
  }
  .about_section .detail-box-4 h2 {
    font-size: 14px;
    color: #518EF8;
    white-space: nowrap;
  }

  .about_section .detail-box-4 p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 240px){
  .about_section .detail-box-4 h1 {
    font-size: 10px;
    color: #FFFFFF;
  }
  .about_section .detail-box-4 h2 {
    font-size: 10px;
    color: #518EF8;
    white-space: nowrap;
  }

  .about_section .detail-box-4 p {
    font-size: 8px;
  }
}

.about_section .detail-box-4 a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box-4 a:hover {
  background-color: transparent;
  color: #0d0806;
}

.img-detail-box-4{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}


.img-box-5{
  transform: translateX(10%);
}

@media only screen and (max-width: 992px){

  .img-box-5{
    transform: translateX(0);
  }
}

.detail-box-5{
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}



.about_section .detail-box-5 p {
  margin-top: 20px;
}

.about_section .detail-box-5 p span{
  color: #518EF8;
}

.about_section .detail-box-5 h2 {
  font-size: 30px;
  color: #518EF8;
  font-weight: 700;
}
.about_section .detail-box-5 h1 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;

}

@media only screen and (max-width: 450px){
  .about_section .detail-box-5 h1 {
    font-size: 24px;
    color: #FFFFFF
  }
  .about_section .detail-box-5 h2 {
    font-size: 22px;
    color: #518EF8
  }
  .about_section .detail-box-5 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px){
  .about_section .detail-box-5 h1 {
    font-size: 20px;
    color: #FFFFFF
  }
  .about_section .detail-box-5 h2 {
    font-size: 18px;
    color: #518EF8
  }

  .about_section .detail-box-5 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px){
  .about_section .detail-box-5 h1 {
    font-size: 16px;
    color: #FFFFFF;
  }
  .about_section .detail-box-5 h2 {
    font-size: 16px;
    color: #518EF8;
  }

  .about_section .detail-box-5 p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 220px){
  .about_section .detail-box-5 h1 {
    font-size: 12px;
    color: #FFFFFF;
  }
  .about_section .detail-box-5 h2 {
    font-size: 12px;
    color: #518EF8;
  }

  .about_section .detail-box-5 p {
    font-size: 8px;
  }
}

.about_section .detail-box-5 a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box-5 a:hover {
  background-color: transparent;
  color: #0d0806;
}

.img-detail-box-5{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.detail-box-6{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}

.about_section .detail-box-6 p {
  margin-top: 20px;
}

.about_section .detail-box-6 p span{
  color: #518EF8;
}

.about_section .detail-box-6 h2 {
  font-size: 30px;
  color: #518EF8;
  font-weight: 700;
}
.about_section .detail-box-6 h1 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;

}

@media only screen and (max-width: 480px){
  .about_section .detail-box-6 h1 {
    font-size: 24px;
    color: #FFFFFF
  }
  .about_section .detail-box-6 h2 {
    font-size: 22px;
    color: #518EF8
  }
  .about_section .detail-box-6 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px){
  .about_section .detail-box-6 h1 {
    font-size: 20px;
    color: #FFFFFF
  }
  .about_section .detail-box-6 h2 {
    font-size: 18px;
    color: #518EF8
  }

  .about_section .detail-box-6 p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px){
  .about_section .detail-box-6 h1 {
    font-size: 16px;
    color: #FFFFFF;
  }
  .about_section .detail-box-6 h2 {
    font-size: 16px;
    color: #518EF8;
  }

  .about_section .detail-box-6 p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px){
  .about_section .detail-box-6 h1 {
    font-size: 14px;
    color: #FFFFFF;
  }
  .about_section .detail-box-6 h2 {
    font-size: 14px;
    color: #518EF8;
    white-space: nowrap;
  }

  .about_section .detail-box-6 p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 240px){
  .about_section .detail-box-6 h1 {
    font-size: 12px;
    color: #FFFFFF;
  }
  .about_section .detail-box-6 h2 {
    font-size: 12px;
    color: #518EF8;
    white-space: nowrap;
  }

  .about_section .detail-box-6 p {
    font-size: 8px;
  }
}

.about_section .detail-box-6 a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box-6 a:hover {
  background-color: transparent;
  color: #0d0806;
}

.img-detail-box-6{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

img{
  width: 100%:
  overflow: hidden;
}
