.detail-box-4{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}

.about_section .detail-box-4 p {
  margin-top: 18px;
}

.about_section .detail-box-4 p span{
  color: #518EF8;
}

.about_section .detail-box-4 h2 {
  font-size: 32px;
  color: #518EF8;
  font-weight: 700;
}
.about_section .detail-box-4 h1 {
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 700;
}

.about_section .detail-box-4 h4{
  font-size: 18px;
  font-weight: 600;
  color: #3A3A47;
  line-height: 1.5;
}

@media only screen and (max-width: 530px){
  .about_section .detail-box-4 h1 {
    font-size: 28px;
    color: #FFFFFF
  }
  .about_section .detail-box-4 h2 {
    font-size: 24px;
    color: #518EF8
  }
  .about_section .detail-box-4 p {
    font-size: 16px;
  }

  .about_section .detail-box-4 h4{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A47;
  }

}

@media only screen and (max-width: 470px){
  .about_section .detail-box-4 h1 {
    font-size: 22px;
    color: #FFFFFF
  }
  .about_section .detail-box-4 h2 {
    font-size: 18px;
    color: #518EF8
  }

  .about_section .detail-box-4 p {
    font-size: 16px;
  }

  .about_section .detail-box-4 h4{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A47;
  }

}

@media only screen and (max-width: 320px){
  .about_section .detail-box-4 h1 {
    font-size: 20px;
    color: #FFFFFF
  }
  .about_section .detail-box-4 h2 {
    font-size: 18px;
    color: #518EF8
  }

  .about_section .detail-box-4 p {
    font-size: 14px;
  }

  .about_section .detail-box-4 h4{
    font-size: 14px;
    font-weight: 600;
    color: #3A3A47;
  }
}

@media only screen and (max-width: 290px){

  .about_section .detail-box-4 p {
    font-size: 12px;
  }

  .about_section .detail-box-4 h4{
    font-size: 12px;
    font-weight: 600;
    color: #3A3A47;
  }
}

@media only screen and (max-width: 250px){

  .about_section .detail-box-4 p {
    font-size: 10px;
  }

  .about_section .detail-box-4 h4{
    font-size: 10px;
    font-weight: 600;
    color: #3A3A47;
  }
}

.about_section .detail-box-4 a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box-4 a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box-6 img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%;
}
